data/raw/
data/processed/

checkpoints/
*.pt
*.pth

results/figures/*.png
results/figures/*.jpg

.ipynb_checkpoints/

__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

.env
*.token

.DS_Store
Thumbs.db
.vscode/
.idea/